.navbar-inverse {
  font-family: 'Raleway', sans-serif;
}

body h1{
  font-family: 'Raleway', sans-serif;
}

#title{
	font-family: 'Raleway', serif;
	font-size: medium;
	color:white;
}

.item{
    height: 300px;
}

body h3{
	 text-shadow: 2px 2px black;
}

body{
	background-color:#4276CA;
	color: white;
}