body {
  font-family: courier, serif;
  font-weight: 300;
  background: black;
}

#wrapper {
  width: 960px;
  margin: 20px aqua;
}

img {
	width:200px;
	border: 5px solid white;
	text-align: center;
}

h1, h3 {
	color: white;
}
h4{
	color:#FFC107;
	font-size: larger;
}

#title{
	font-style: italic;
	color:gray;
}
h5{
	color:#FF5722;
	text-indent: 15px;
	font-size: medium;
}
.resume{
	color:white;
	text-indent: 30px
	
}
#blurb{
	color:white
}
